<!DOCTYPE html>
<html>
	<head>
		<title>BearOnBoard</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1"
		/>
		<link rel="stylesheet" href="home.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="icon"
			type="image/x-icon"
			href="https://d3qxlv297wj1rn.cloudfront.net/images/favicon/favicon.ico"
		/>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			(function (g, u, i, d, e, s) {
				g[e] = g[e] || [];
				var f = u.getElementsByTagName(i)[0];
				var k = u.createElement(i);
				k.async = true;
				k.src =
					'https://static.userguiding.com/media/user-guiding-' +
					s +
					'-embedded.js';
				f.parentNode.insertBefore(k, f);
				if (g[d]) return;
				var ug = (g[d] = { q: [] });
				ug.c = function (n) {
					return function () {
						ug.q.push([n, arguments]);
					};
				};
				var m = [
					'previewGuide',
					'finishPreview',
					'track',
					'identify',
					'triggerNps',
					'hideChecklist',
					'launchChecklist',
				];
				for (var j = 0; j < m.length; j += 1) {
					ug[m[j]] = ug.c(m[j]);
				}
			})(
				window,
				document,
				'script',
				'userGuiding',
				'userGuidingLayer',
				'993146527ID'
			);
		</script>
	</head>
	<body>
		<div class="entire_container">
			<div class="background">
				<a href="/member">
					<img
						src="https://d3qxlv297wj1rn.cloudfront.net/images/profile-icon.png"
						id="profile_icon"
				/></a>
				<div>
					<p class="no_gps_text">
						Oh no...Location access is disabled for the application. Go to your
						setting to enable location tracking.
					</p>
					<img
						id="no_gps"
						src="https://d3qxlv297wj1rn.cloudfront.net/images/no_gps.png"
					/>
				</div>
				<div id="googleMap"></div>
				<div class="post_container">
					<a href="/home" class="header_container">
						<div class="logo_container">
							<img
								src="https://d3qxlv297wj1rn.cloudfront.net/images/bear_transparent_logo.png"
							/>
						</div>
						<p class="brandname">Bear On Board</p>
					</a>
					<form id="search_form">
						<input
							type="text"
							name="search"
							id="search"
							placeholder="Bear Museum"
						/>
						<input type="submit" id="search_submit" value="" />
					</form>
					<img
						id="bear_banner"
						src="https://d3qxlv297wj1rn.cloudfront.net/images/bear_banner.svg"
					/>
					<div class="function_container">
						<img
							id="function_icon"
							src="https://d3qxlv297wj1rn.cloudfront.net/images/map_icon.svg"
						/>
						<div class="function_text_container">
							<p class="function_title">Save favorite places</p>
							<p class="function_text">
								You can find all of the saved spots on your own map.
							</p>
						</div>
					</div>
					<div class="function_container">
						<img
							id="function_icon"
							src="https://d3qxlv297wj1rn.cloudfront.net/images/friend_icon.svg"
						/>
						<div class="function_text_container">
							<p class="function_title">Find teddy buddies</p>
							<p class="function_text">
								You can comment on or like any posts saved from your friends.
							</p>
						</div>
					</div>
					<div class="function_container">
						<img
							id="function_icon"
							src="https://d3qxlv297wj1rn.cloudfront.net/images/chat_icon.svg"
						/>
						<div class="function_text_container">
							<p class="function_title">Send direct messages</p>
							<p class="function_text">
								You won’t miss any news with a real-time chatroom.
							</p>
						</div>
					</div>
				</div>
				<button
					onclick="addPost()"
					onmousemove="showAddPost()"
					onmouseleave="leaveAddPost()"
				>
					<img
						src="https://d3qxlv297wj1rn.cloudfront.net/images/add_post.svg"
						id="add_button"
					/>
				</button>
				<div class="paws_container" onclick="logout()">
					<img
						class="paw"
						src="https://d3qxlv297wj1rn.cloudfront.net/images/paw.svg"
						alt="logout"
					/>
					<img
						class="paw"
						src="https://d3qxlv297wj1rn.cloudfront.net/images/paw.svg"
						alt="logout"
					/>
				</div>
			</div>
			<div class="copyright">
				@ Copyright 2022. Powered by
				<a style="color: #665a5a" href="https://github.com/avivi28"
					>Avivi Chan</a
				>.
			</div>
			<div class="modal" id="modal">
				<div class="modal-content" id="post_content" style="height: 325px">
					<div class="modal-top"></div>
					<button onclick="hidePost()">
						<img
							src="https://d3qxlv297wj1rn.cloudfront.net/images/x.svg"
							id="x"
						/>
					</button>
					<p style="margin: 10px 0px 0px 0px">Add New Post</p>
					<form id="postform">
						<span
							>Photos:
							<input
								type="file"
								id="img_input"
								name="image"
								accept="image/*"
								required
						/></span>
						<span
							>Location:
							<input
								id="pac-input"
								class="controls"
								type="text"
								placeholder="Search Location"
								name="location"
								required
						/></span>
						<span
							>Captions:
							<textarea id="caption" name="caption"></textarea>
						</span>
						<input type="submit" value="Add Post" id="submit_newposts" />
					</form>
				</div>
			</div>
			<div class="modal" id="posts_modal">
				<div
					class="modal-content"
					id="posts-container"
					style="
						height: 400px;
						width: 350px;
						max-height: calc(100vh - 210px);
						border-top: 24px solid #ffb939;
						overflow-y: scroll;
					"
				>
					<button onclick="hidePosts()">
						<img
							src="https://d3qxlv297wj1rn.cloudfront.net/images/x.svg"
							id="x"
							style="left: 305px; top: 20px"
						/>
					</button>
					<p style="font-size: 16px; width: 302px; margin-top: 20px">
						Location:<span
							style="font-weight: 500; margin-left: 5px"
							id="location-content"
						></span>
					</p>
					<p style="font-size: 16px; width: 310px">
						Caption:<span
							style="font-weight: 500; margin-left: 5px"
							id="caption-content"
						></span>
					</p>
					<p class="friends-photo-container" style="font-size: 14px">Photos:</p>
					<div
						style="display: flex; align-items: center; justify-content: center"
					>
						<img id="friends-photos" />
					</div>
					<p style="display: flex; justify-content: flex-end; width: 305px">
						<span class="tooltip">
							<img
								src="https://d3qxlv297wj1rn.cloudfront.net/images/unlikes.svg"
								id="likes"
								onmouseover="heartBeat()"
								onmouseout="heartStop()"
							/>
							<span class="tooltiptext" id="tooltiptext">10 likes</span>
						</span>
						<button style="cursor: pointer" onclick="deletePost()">
							<img
								src="https://d3qxlv297wj1rn.cloudfront.net/images/trash_bin.svg"
							/>
						</button>
					</p>
					<div class="friends-comment" id="friends-comment">
						<img
							src="https://d3qxlv297wj1rn.cloudfront.net/images/friends-icon.png"
							id="friends_icon"
							class="friends_icon"
						/>
						<form id="comment-form">
							<input
								type="text"
								name="comment"
								id="comment-input"
								placeholder="Add a comment..."
								autocomplete="off"
							/>
						</form>
					</div>
					<div id="comment-entire-container"></div>
				</div>
			</div>
			<div class="modal" id="no_location_modal">
				<div
					class="modal-content"
					id="posts-container"
					style="
						height: 315px;
						width: 350px;
						max-height: calc(100vh - 210px);
						border-top: 24px solid #ffb939;
					"
				>
					<img
						src="https://d3qxlv297wj1rn.cloudfront.net/images/sad-bear.png"
						style="width: 120px; margin-top: 10px"
					/>
					<p
						class="alert_sentence"
						style="margin-left: 10px; margin-right: 10px; font-size: 18px"
					>
						'Oh no...Location access is disabled for the application. Go to your
						setting to enable location tracking.'
					</p>
					<button onclick="closeNoGps()" id="no_location_button">OK!</button>
				</div>
			</div>
		</div>
		<script src="/map.js"></script>
		<script src="/home.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=<%=apikey%>&callback=googleAPI&libraries=places"></script>
	</body>
</html>
