<!DOCTYPE html>
<html>
	<head>
		<title>BearOnBoard</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1"
		/>
		<link rel="stylesheet" href="home.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="icon"
			type="image/x-icon"
			href="https://d3qxlv297wj1rn.cloudfront.net/images/favicon/favicon.ico"
		/>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<div class="entire_container">
			<div class="background">
				<a href="/member">
					<img
						src="https://d3qxlv297wj1rn.cloudfront.net/images/profile-icon.png"
						id="profile_icon"
				/></a>
				<div id="googleMap"></div>
				<div class="post_container">
					<a href="/home" class="header_container">
						<div class="logo_container">
							<img
								src="https://d3qxlv297wj1rn.cloudfront.net/images/bear_transparent_logo.png"
							/>
						</div>
						<p class="brandname">Bear On Board</p>
					</a>
					<form id="search_form">
						<input
							type="text"
							name="search"
							id="search"
							placeholder="Bear Museum"
						/>
						<input type="submit" id="search_submit" value="" />
					</form>
					<div class="caption">
						<p>Location:</p>
						<p class="caption_content" id="location_content">
							“Bear Bear Museum”
						</p>
						<p>Caption:</p>
						<p class="caption_content" id="caption_content">
							“If you live to be a hundred, I hope I live to be a hundred minus
							one day, so that I never have to live a day without you.”
						</p>
					</div>
					<div class="photos_container">
						<p>Photos:</p>
						<p class="tooltip">
							<img
								src="https://d3qxlv297wj1rn.cloudfront.net/images/unlikes.svg"
								id="likes"
								onmouseover="heartBeat()"
								onmouseout="heartStop()"
							/>
							<span class="tooltiptext" id="tooltiptext">99 likes</span>
						</p>
						<p class="imagesonly_container">
							<img
								src="https://d3qxlv297wj1rn.cloudfront.net/images/example.jpg"
								id="post_image"
							/>
						</p>
					</div>
					<div class="friends-comment" id="friends-comment">
						<img
							src="https://d3qxlv297wj1rn.cloudfront.net/images/friends-icon.png"
							id="friends_icon"
							class="friends_icon"
						/>
						<form id="comment-form">
							<input
								type="text"
								name="comment"
								id="comment-input"
								placeholder="Add a comment..."
								autocomplete="off"
							/>
						</form>
					</div>
					<div id="comment-entire-container"></div>
				</div>
				<button
					onclick="addPost()"
					onmousemove="showAddPost()"
					onmouseleave="leaveAddPost()"
				>
					<img
						src="https://d3qxlv297wj1rn.cloudfront.net/images/add_post.svg"
						id="add_button"
					/>
				</button>
				<div class="paws_container" onclick="logout()">
					<img
						class="paw"
						src="https://d3qxlv297wj1rn.cloudfront.net/images/paw.svg"
						alt="logout"
					/>
					<img
						class="paw"
						src="https://d3qxlv297wj1rn.cloudfront.net/images/paw.svg"
						alt="logout"
					/>
				</div>
			</div>
			<div class="copyright">
				@ Copyright 2022. Powered by
				<a style="color: #665a5a" href="https://github.com/avivi28"
					>Avivi Chan</a
				>.
			</div>
			<div class="modal" id="modal">
				<div class="modal-content">
					<div class="modal-top"></div>
					<button onclick="hidePost()">
						<img
							src="https://d3qxlv297wj1rn.cloudfront.net/images/x.svg"
							id="x"
						/>
					</button>
					<p>Add New Post</p>
					<form id="postform">
						<span
							>Photos:
							<input
								type="file"
								id="img_input"
								name="image"
								accept="image/*"
								required
						/></span>
						<span
							>Location:
							<input
								id="pac-input"
								class="controls"
								type="text"
								placeholder="Search Location"
								name="location"
								required
						/></span>
						<span
							>Captions:
							<textarea id="caption" name="caption"></textarea>
						</span>
						<input type="submit" value="Add Post" id="submit_newposts" />
					</form>
				</div>
			</div>
		</div>
		<script src="/map.js"></script>
		<script src="/home.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=<%=apikey%>&callback=googleAPI&libraries=places"></script>
	</body>
</html>
