<!DOCTYPE html>
<html>
	<head>
		<title>BearOnBoard</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1"
		/>
		<link rel="stylesheet" href="home.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico" />
	</head>
	<body>
		<div class="entire_container">
			<div class="background">
				<div class="post_container">
					<a href="/home" class="header_container">
						<div class="logo_container">
							<img src="/images/bear_transparent_logo.png" />
						</div>
						<p class="brandname">Bear On Board</p>
					</a>
					<form id="search_form">
						<input
							type="text"
							name="search"
							id="search"
							placeholder="Bear Museum"
						/>
						<input type="submit" id="search_submit" value="" />
					</form>
					<div class="caption">
						<p>Caption:</p>
						<br />
						<p class="caption_content">
							“If you live to be a hundred, I hope I live to be a hundred minus
							one day, so that I never have to live a day without you.”
						</p>
					</div>
					<div class="photos_container">
						<p>Photos:</p>
						<br /><img src="/images/example.jpg" id="post_image" />
					</div>
					<img src="/images/add_post.svg" id="add_button" />
				</div>
				<div class="paws_container" onclick="logout()">
					<img class="paw" src="/images/paw.svg" alt="logout" />
					<img class="paw" src="/images/paw.svg" alt="logout" />
				</div>
			</div>
			<div class="copyright">@ Copyright 2022. Powered by Avivi Chan.</div>
		</div>
		<script src="/home.js"></script>
	</body>
</html>
