<!DOCTYPE html>
<html>
	<head>
		<title>BearOnBoard</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1"
		/>
		<link rel="stylesheet" href="member.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico" />
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<div class="entire_container">
			<div class="background">
				<img id="bear-chat" src="/images/bear-chat.png" />
				<div class="chat-message">Hello, Bear!</div>
				<div class="chat-sentence">
					Now send and receive messages by clicking your friend's icon.
				</div>
				<div class="post_container">
					<a href="/home" class="header_container">
						<div class="logo_container">
							<img src="/images/bear_transparent_logo.png" />
						</div>
						<p class="brandname">Bear On Board</p>
					</a>
					<img src="/images/edit-pen.svg" id="edit_pen" />
					<img src="/images/profile-icon.png" id="edit_icon" alt="edit" />
					<div class="edit_container">
						<div class="edit_title">
							Name:
							<p>Bear</p>
						</div>
						<div class="edit_title">
							Email:
							<p>bear@bear.com</p>
						</div>
						<div class="edit_title">
							BIO:
							<p>I am a bear.</p>
						</div>
					</div>
					<div class="friendslist_container">
						<div class="friendslist">Friends list:</div>
						<img src="/images/friends-icon.png" id="friends_icon" />
						<p class="friends_name">Panda</p>
						<p class="friends_bio">BIO: hihihi</p>
						<img src="/images/friends_gps.svg" id="friends_jps" alt="locate" />
						<img
							src="/images/delete_friends.svg"
							id="friends_delete"
							alt="delete"
						/>
					</div>
					<button onclick="addFriend()">
						<img src="/images/add_friends.svg" id="friends_add" />
					</button>
					<div class="paws_container" onclick="logout()">
						<img class="paw" src="/images/paw.svg" alt="logout" />
						<img class="paw" src="/images/paw.svg" alt="logout" />
					</div>
				</div>
			</div>
			<div class="copyright">@ Copyright 2022. Powered by Avivi Chan.</div>
			<div class="modal" id="modal">
				<div class="modal-content">
					<div class="modal-top"></div>
					<button onclick="hideFriend()">
						<img src="/images/x.svg" id="x" />
					</button>
					<p>Add New Friends</p>
					<form id="friendform">
						<span>
							<span class="search_container">
								<input
									list="search_results"
									type="text"
									id="friends_search"
									name="username"
									placeholder="Search..."
									onkeyup="sendData(this)" />
								<datalist id="search_results"></datalist></span></span
						><input type="submit" value="" id="submit_newfriends" />
					</form>
					<hr />
					<div class="pending_list" id="pending_list">Pending:</div>
				</div>
			</div>
			<div class="modal" id="confirm_modal">
				<div class="modal-content" id="request-container">
					<div class="modal-top"></div>
					<button onclick="hideConfirm()">
						<img src="/images/x.svg" id="x" />
					</button>
					<p>Add New Friends</p>
					<p class="bear-container" id="bear-container">
						<img id="icon-confirm" src="images/normal-bear.png" />
					</p>
					<p id="confirm-text">Add Panda ?</p>
					<p class="button-container" id="button-container">
						<button
							class="yes-button"
							id="yes-button"
							onmouseover="showHappy()"
							onmouseout="showNormal()"
						>
							YES
						</button>
						<button
							class="no-button"
							onmouseover="showShock()"
							onmouseout="showNormal()"
							onclick="hideConfirm()"
						>
							NO
						</button>
					</p>
				</div>
			</div>
		</div>
		<script src="/member.js"></script>
	</body>
</html>
