<!DOCTYPE html>
<html>
	<head>
		<title>BearOnBoard</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1"
		/>
		<link rel="stylesheet" href="member.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico" />
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<div class="entire_container">
			<div class="background">
				<div id="googleMap"></div>
				<img id="bear-chat" src="/images/bear-chat.png" />
				<div class="chat-message">Hello, Bear!</div>
				<div class="chat-sentence">
					Now send and receive messages by clicking your friend's icon.
				</div>
				<div class="post_container">
					<a href="/home" class="header_container">
						<div class="logo_container">
							<img src="/images/bear_transparent_logo.png" />
						</div>
						<p class="brandname">Bear On Board</p>
					</a>
					<img src="/images/edit-pen.svg" id="edit_pen" />
					<img src="/images/profile-icon.png" id="edit_icon" alt="edit" />
					<div class="edit_container">
						<div class="edit_title">
							Name:
							<p>Bear</p>
						</div>
						<div class="edit_title">
							Email:
							<p>bear@bear.com</p>
						</div>
						<div class="edit_title">
							BIO:
							<p>I am a bear.</p>
						</div>
					</div>
					<div class="friendslist"><p>My Friends:</p></div>
					<div class="friendslist_container" id="friendslist_container"></div>
					<button onclick="addFriend()">
						<img src="/images/add_friends.svg" id="friends_add" />
					</button>
					<div class="paws_container" onclick="logout()">
						<img class="paw" src="/images/paw.svg" alt="logout" />
						<img class="paw" src="/images/paw.svg" alt="logout" />
					</div>
				</div>
			</div>
			<div class="copyright">@ Copyright 2022. Powered by Avivi Chan.</div>
			<div class="modal" id="modal">
				<div class="modal-content">
					<div class="modal-top"></div>
					<button onclick="hideFriend()">
						<img src="/images/x.svg" id="x" />
					</button>
					<p>Add New Friends</p>
					<form id="friendform">
						<span>
							<span class="search_container">
								<input
									list="search_results"
									type="text"
									id="friends_search"
									name="username"
									placeholder="Search..."
									autocomplete="off"
									onkeypress="sendData(this)" />
								<datalist id="search_results"></datalist></span></span
						><input type="submit" value="" id="submit_newfriends" />
					</form>
					<hr />
					<div class="pending_list" id="pending_list">Pending:</div>
				</div>
			</div>
			<div class="modal" id="confirm_modal">
				<div class="modal-content" id="request-container">
					<div class="modal-top"></div>
					<button onclick="hideConfirm()">
						<img src="/images/x.svg" id="x" />
					</button>
					<p>Add New Friends</p>
					<p class="bear-container" id="bear-container">
						<img id="icon-confirm" src="images/normal-bear.png" />
					</p>
					<p id="confirm-text">Add Panda ?</p>
					<p class="button-container" id="button-container">
						<button
							class="yes-button"
							id="yes-button"
							onmouseover="showHappy()"
							onmouseout="showNormal()"
						>
							YES
						</button>
						<button
							class="no-button"
							onmouseover="showShock()"
							onmouseout="showNormal()"
							onclick="hideConfirm()"
						>
							NO
						</button>
					</p>
				</div>
			</div>
			<div class="modal" id="delete_modal">
				<div class="modal-content" id="delete-container" style="height: 300px">
					<div class="modal-top"></div>
					<button onclick="hideDelete()">
						<img src="/images/x.svg" id="x" />
					</button>
					<img
						src="images/sad-bear.png"
						style="margin-top: 15px; width: 100px"
						id="delete_bear"
					/>
					<form id="delete_form">
						<p>Are you sure to delete</p>
						<p style="margin: 0">
							<input type="text" name="delete_name" id="delete_name" />
						</p>
					</form>
					<p class="button-container" id="button-container">
						<button
							class="yes-button"
							id="yes-delete-button"
							onmouseover="showCry()"
							onmouseout="showSad()"
						>
							YES
						</button>
						<button
							class="no-button"
							id="no-delete-button"
							onmouseover="showFine()"
							onmouseout="showSad()"
							onclick="hideDelete()"
						>
							NO
						</button>
					</p>
				</div>
			</div>
			<div class="modal" id="posts_modal">
				<div
					class="modal-content"
					id="posts-container"
					style="height: 400px; width: 350px"
				>
					<div class="modal-top"></div>
					<button onclick="hidePosts()">
						<img src="/images/x.svg" id="x" style="left: 305px" />
					</button>
					<p style="font-size: 16px; width: 310px; margin-top: 20px">
						Location:<span
							style="font-weight: 500; margin-left: 5px"
							id="location-content"
						></span>
					</p>
					<p style="font-size: 16px; width: 310px">
						Caption:<span
							style="font-weight: 500; margin-left: 5px"
							id="caption-content"
						></span>
					</p>
					<p class="friends-photo-container" style="font-size: 16px">
						Photos:<span
							style="
								display: flex;
								align-items: center;
								justify-content: center;
							"
							><img id="friends-photos" />
							<span class="tooltip">
								<img
									src="/images/unlikes.svg"
									id="likes"
									onmouseover="heartBeat()"
									onmouseout="heartStop()"
								/>
								<span class="tooltiptext" id="tooltiptext">10 likes</span>
							</span></span
						>
					</p>
					<p class="friends-comment">
						<img src="/images/friends-icon.png" id="friends_icon" />
						<input
							type="text"
							name="comment"
							id="comment"
							placeholder="Add a comment..."
							autocomplete="off"
						/>
					</p>
				</div>
			</div>
		</div>
		<script src="/map.js"></script>
		<script src="/member.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=<%=apikey%>&callback=googleAPI&libraries=places"></script>
	</body>
</html>
