<!DOCTYPE html>
<html>
	<head>
		<title>Register Page</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1"
		/>
		<link rel="stylesheet" href="register.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico" />
	</head>
	<body>
		<div class="entire_container">
			<div class="biggest_bear_container">
				<img src="/images/biggest_bear.png" />
			</div>
			<div class="login_container">
				<a href="/" class="header_container">
					<div class="logo_container">
						<img src="/images/bear_transparent_logo.png" />
					</div>
					<p class="brandname">Bear On Board</p>
				</a>
				<form id="register_form">
					<input
						type="email"
						id="email"
						name="email"
						placeholder="email address"
						required
					/>
					<input
						type="text"
						id="username"
						name="username"
						placeholder="username"
						required
					/>
					<input
						type="password"
						id="password"
						name="password"
						placeholder="password"
						required
					/>
					<input type="submit" id="submit_button" value="Register" />
				</form>
				<a class="paws_container" href="/">
					<img class="paw" src="/images/paw.svg" alt="back to previous page" />
					<img class="paw" src="/images/paw.svg" alt="back to previous page" />
				</a>
				<div id="message_return"></div>
				<img class="success_image" src="/images/happy_bear.gif" />
			</div>
			<div class="copyright">@ Copyright 2022. Powered by Avivi Chan.</div>
		</div>
		<script src="/register.js"></script>
	</body>
</html>
