body {
	margin: 0px;
	padding: 0px;
	background: #f5a760;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

p {
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

button {
	border: none;
	background: none;
}

.entire_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.background {
	margin-top: 50px;
	width: 900px;
	height: 650px;
	background: #ffffff;
	box-shadow: 0px 0px 30px rgb(0 0 0 / 25%);
	border-radius: 50px;
	position: relative;
}

.copyright {
	color: #665a5a;
	position: absolute;
	top: 713px;
	font-size: 14px;
}

.post_container {
	width: 330px;
	height: 650px;
	background: #ffffff;
	box-shadow: 0px 0px 30px rgb(0 0 0 / 25%);
	border-radius: 50px 0px 0px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0px;
}

.logo_container > img {
	width: 55px;
	height: 55px;
}

.brandname {
	font-weight: 700;
	font-size: 24px;
	color: #674115;
	padding: 15px 0px 15px 9px;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 15px;
	text-decoration: none;
	z-index: 10;
}

.paws_container {
	position: absolute;
	width: 80px;
	height: 80px;
	bottom: 14px;
	left: 12px;
	cursor: pointer;
}

.paw {
	width: 40px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(340deg);
}

.paw + .paw {
	inset: auto;
	right: 0;
	bottom: 0;
	transform: rotate(320deg);
}

.paws_container:hover > .paw,
.paws_container:focus > .paw {
	animation: fadePaw 1.2s 0.6s infinite;
}

.paws_container:hover > .paw + .paw,
.paws_container:focus > .paw + .paw {
	animation-delay: 0s;
}

@keyframes fadePaw {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

#search_submit {
	background-image: url(/images/search_button.svg);
	border: none;
	height: 30px;
	width: 30px;
	background-color: white;
}

#search {
	border: none;
	border-bottom: 1px solid #a26825;
	opacity: 0.5;
	color: #a26825;
	font-size: 16px;
	padding: 10px;
}

#search_form {
	display: flex;
	align-items: center;
	margin-top: 8px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid rgba(242, 119, 7, 0.75);
	-webkit-text-fill-color: #674115;
	transition: background-color 5000s ease-in-out 0s;
}

.caption,
.photos_container {
	font-weight: 700;
	font-size: 16px;
	color: #674115;
	margin: 5px 33px;
}

.photos_container {
	position: relative;
}

.caption > p {
	margin-top: 10px;
}

.caption_content {
	margin: 5px 0px;
}

.photos_container > p {
	margin-top: 10px;
}

#arrow_left,
#arrow-right {
	cursor: pointer;
}

#arrow_left,
#arrow-right,
#likes,
#profile_icon,
#friends_icon {
	position: absolute;
}

#profile_icon {
	z-index: 1;
	right: 12px;
	width: 80px;
	top: 10px;
	cursor: pointer;
}

#likes {
	right: 10px;
	top: 156px;
	cursor: pointer;
}

#friends_icon {
	width: 42px;
	left: 30px;
	top: 210px;
}

.caption_content {
	font-weight: 400;
	font-size: 14px;
}

#post_image {
	width: 275px;
	height: auto;
	border-radius: 10px;
}

.imagesonly_container {
	overflow: hidden;
	height: 165px;
	display: flex;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}

#add_button {
	position: absolute;
	right: 19px;
	bottom: 20px;
	cursor: pointer;
}

q {
	position: absolute;
	right: 16px;
	top: 220px;
}

#googleMap {
	width: 570px;
	height: 650px;
	border-radius: 0px 50px 50px 0px;
	position: absolute;
	overflow: hidden;
	right: 0px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 2; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	overflow-y: hidden;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	width: 300px;
	height: 320px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.modal-top {
	background-color: #ffb939;
	height: 24px;
	border-radius: 32px 32px 0px 0px;
	padding: 0px;
	margin: 0px;
	width: 359px;
}

.modal-content > p {
	font-weight: 700;
	font-size: 20px;
	color: #674115;
	margin: 10px 0px;
}

.modal-content > form > span {
	font-weight: 400;
	font-size: 14px;
	color: #674115;
	margin: 15px;
	display: flex;
	align-items: center;
}

#postform {
	width: 300px;
	padding: 0px 10px;
}

#caption,
#pac-input {
	border: 1px solid #a26825;
	border-radius: 5px;
	padding: 5px;
	margin-left: 5px;
}

#img_input {
	margin-left: 5px;
}

#id_input {
	margin-left: 5px;
}

#caption {
	width: 166px;
	height: 85px;
}

#submit_newposts {
	font-weight: 700;
	font-size: 16px;
	color: #674115;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgb(0 0 0 / 25%);
	padding: 5px;
	background-color: #ffb939;
	width: 172px;
	margin: 0px 55px;
	cursor: pointer;
}

#x {
	position: absolute;
	top: 36px;
	left: 249px;
	cursor: pointer;
}

.caption {
	width: 275px;
}
