body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	background: #f5a760;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	margin-top: 150px;
}

p {
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.entire_container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.biggest_bear_container {
	position: absolute;
	top: -136px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.biggest_bear_container > img {
	width: 250px;
}

.login_container {
	width: 380px;
	padding-bottom: 30px;
	background: #ffffff;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	position: relative;
	margin: 50px auto;
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	top: -82px;
}

.logo_container > img {
	width: 55px;
	height: 55px;
}

.brandname {
	font-weight: 700;
	font-size: 24px;
	color: #674115;
	padding: 15px 0px 15px 9px;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 8px;
	text-decoration: none;
	z-index: 10;
}

#username,
#password {
	width: 302px;
	height: 46px;
	font-weight: 400;
	background: rgba(242, 119, 7, 0.28);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: 16px;
}

#submit_button {
	font-weight: 700;
	font-size: 24px;
	color: #674115;
	width: 173px;
	height: 48px;
	background: rgba(242, 119, 7, 0.75);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	border: none;
	margin: 0px auto 15px auto;
	cursor: pointer;
}

#username {
	margin: 15px auto 25px auto;
}

#password {
	margin: 0px auto 25px auto;
}

#login_form {
	display: flex;
	flex-direction: column;
}

.paws_container {
	position: absolute;
	bottom: 14px;
	left: 12px;
}

.paws_container > img {
	width: 80px;
}

.or {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}

.or span {
	position: relative;
	z-index: 1;
	padding: 0 53px;
	background-color: white;
	font-weight: 600;
	font-size: 24px;
	line-height: (43 / 32);
	color: #674115;
}

.or:before {
	content: '';
	position: absolute;
	left: 45px;
	right: 45px;
	top: 50%;
	transform: translateY(-50%);
	height: 3px;
	background-color: #a16825;
	opacity: 0.62;
}
.google_logo_container > img {
	width: 40px;
	height: 40px;
}
.login_by_google {
	margin-left: 15px;
	font-weight: 400;
	font-size: 20px;
	background: linear-gradient(
		270.07deg,
		#4285f4 18.85%,
		#34a853 43.25%,
		#fbbc05 68.09%,
		#dc1a46 92.86%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.google_logo_container {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.no_account {
	color: #674115;
	font-size: 16px;
	font-weight: 400;
}
.sign_up {
	color: #f5a760;
	font-size: 20px;
	font-weight: 700;
	margin-left: 10px;
	cursor: pointer;
	text-decoration: none;
}
.no_account_container {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}
.copyright {
	color: #665a5a;
	position: absolute;
	top: 420px;
	font-size: 14px;
}
@media screen and (max-width: 390px) {
	.entire_container {
		width: 100%;
		padding: 0 16px;
	}
	.login_container {
		width: 100%;
	}
	.paws_container {
		bottom: 6px;
		left: 0px;
	}
}
