body {
	margin: 0px;
	padding: 0px;
	background: #f5a760;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

p {
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

button {
	border: none;
	background: none;
}

.entire_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.background {
	margin-top: 50px;
	width: 900px;
	height: 650px;
	background: #ffffff;
	box-shadow: 0px 0px 30px rgb(0 0 0 / 25%);
	border-radius: 50px;
	position: relative;
}

#bear-chat {
	right: 25px;
	position: absolute;
	top: 60px;
}

.chat-message {
	position: absolute;
	right: 145px;
	top: 145px;
	font-size: 45px;
	font-weight: 800;
	color: #674115;
}

.chat-sentence {
	position: absolute;
	right: 45px;
	top: 520px;
	color: #674115;
}

.copyright {
	color: #665a5a;
	position: absolute;
	top: 713px;
	font-size: 14px;
}

.post_container {
	width: 330px;
	height: 650px;
	background: #ffffff;
	box-shadow: 0px 0px 30px rgb(0 0 0 / 25%);
	border-radius: 50px 0px 0px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0px;
}

.logo_container > img {
	width: 55px;
	height: 55px;
}

.brandname {
	font-weight: 700;
	font-size: 24px;
	color: #674115;
	padding: 15px 0px 15px 9px;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 15px;
	text-decoration: none;
	z-index: 10;
}

.paws_container {
	position: absolute;
	width: 80px;
	height: 80px;
	bottom: 14px;
	left: 12px;
	cursor: pointer;
}

.paw {
	width: 40px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(340deg);
}

.paw + .paw {
	inset: auto;
	right: 0;
	bottom: 0;
	transform: rotate(320deg);
}

.paws_container:hover > .paw,
.paws_container:focus > .paw {
	animation: fadePaw 1.2s 0.6s infinite;
}

.paws_container:hover > .paw + .paw,
.paws_container:focus > .paw + .paw {
	animation-delay: 0s;
}

@keyframes fadePaw {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid rgba(242, 119, 7, 0.75);
	-webkit-text-fill-color: #674115;
	transition: background-color 5000s ease-in-out 0s;
}

#edit_pen,
#edit_icon {
	position: absolute;
}

#edit_pen {
	top: 83px;
	right: 31px;
	cursor: pointer;
}

#edit_icon {
	width: 80px;
	top: 105px;
	left: 32px;
}

.edit_title {
	font-weight: 700;
	font-size: 16px;
	color: #674115;
	display: flex;
	padding: 5px;
}

.edit_title > p {
	font-weight: 400;
	font-size: 14px;
}

.edit_container {
	margin-left: 84px;
	margin-top: 16px;
}

.friendslist {
	font-weight: 700;
	font-size: 16px;
	color: #674115;
	position: absolute;
	left: 24px;
	top: 232px;
}

#friends_icon {
	width: 60px;
	position: absolute;
	top: 266px;
	left: 27px;
}

.friendslist_container > p {
	font-weight: 500;
}

.friends_name,
.friends_bio {
	position: absolute;
}

.friends_name {
	left: 104px;
	top: 274px;
}

.friends_bio {
	top: 294px;
	left: 104px;
}

#friends_jps {
	position: absolute;
	top: 278px;
	right: 69px;
	cursor: pointer;
}

#friends_delete {
	position: absolute;
	top: 278px;
	right: 30px;
	cursor: pointer;
}

#friends_add {
	position: absolute;
	right: 15px;
	bottom: 18px;
	cursor: pointer;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 2; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	overflow-y: hidden;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	width: 300px;
	height: 320px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.modal-top {
	background-color: #ffb939;
	height: 24px;
	border-radius: 32px 32px 0px 0px;
	padding: 0px;
	margin: 0px;
	width: 359px;
}

.modal-content > p {
	font-weight: 700;
	font-size: 20px;
	color: #674115;
	margin: 10px 0px;
}

.modal-content > form > span {
	font-weight: 400;
	font-size: 14px;
	color: #674115;
	margin: 10px;
	display: flex;
}

#friendform {
	width: 300px;
	padding: 0px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#friends_search {
	border: 1px solid #a26825;
	border-radius: 5px;
	padding: 13px;
	width: 250px;
}

#caption {
	width: 166px;
	height: 85px;
}

#x {
	position: absolute;
	top: 36px;
	left: 249px;
	cursor: pointer;
}

.caption {
	width: 275px;
}

hr {
	width: 223px;
	opacity: 0.5;
	background-color: #674115;
}

.pending_list {
	font-weight: 700;
	font-size: 16px;
	color: #674115;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 265px;
}

#submit_newfriends {
	background-image: url(/images/search_button.svg);
	border: none;
	height: 30px;
	width: 30px;
	background-color: white;
	position: absolute;
	top: 90px;
	right: 36px;
}

.search_container {
	display: flex;
	flex-direction: column;
}

.no_found {
	color: red;
}

.bear-container > img {
	width: 100px;
	height: auto;
}

#confirm-text {
	font-size: 18px;
	font-weight: 500;
	margin: 0;
}

.yes-button {
	width: 73px;
	height: 50px;
	border-radius: 10px;
	background-color: #ffb939;
	opacity: 0.8;
	box-shadow: 0px 0px 5px rgb(0 0 0 / 25%);
	color: white;
	font-weight: 800;
	font-size: 18px;
	cursor: pointer;
}

.no-button {
	width: 73px;
	height: 50px;
	border-radius: 10px;
	background-color: #674115;
	opacity: 0.8;
	box-shadow: 0px 0px 5px rgb(0 0 0 / 25%);
	color: white;
	font-weight: 800;
	font-size: 18px;
	cursor: pointer;
}

.button-container {
	display: flex;
	justify-content: space-between;
	width: 204px;
}

.pending_container {
	margin-top: 5px;
	display: flex;
	align-items: center;
}

.pending_container > img {
	width: 50px;
}

.pending-content-container {
	display: flex;
	flex-direction: column;
}

.pending-content {
	font-size: 12px;
	font-weight: 500;
	margin-left: 5px;
}

.yes-no-container {
	display: flex;
	margin-left: 8px;
	width: 62px;
	height: 50px;
	align-items: center;
	justify-content: space-between;
}

.yes-confirm-button {
	background-image: url(/images/yes.svg);
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.no-confirm-button {
	background-image: url(/images/no.svg);
	width: 25px;
	height: 25px;
	cursor: pointer;
}
