body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	background: #f5a760;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	margin-top: 150px;
}

p {
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.entire_container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.biggest_bear_container {
	position: absolute;
	top: -136px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}
.biggest_bear_container > img {
	width: 250px;
}

.login_container {
	width: 380px;
	padding-bottom: 60px;
	background: #ffffff;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	position: relative;
	margin: 50px auto;
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	top: -82px;
}

.logo_container > img {
	width: 55px;
	height: 55px;
}

.brandname {
	font-weight: 700;
	font-size: 24px;
	color: #674115;
	padding: 15px 0px 15px 9px;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 8px;
	text-decoration: none;
	z-index: 10;
}

#email,
#username,
#password {
	width: 302px;
	height: 46px;
	font-weight: 400;
	background: rgba(242, 119, 7, 0.28);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: 16px;
}

#email {
	margin: 10px auto 15px auto;
}

#submit_button {
	font-weight: 700;
	font-size: 24px;
	color: #674115;
	width: 173px;
	height: 48px;
	background: rgba(242, 119, 7, 0.75);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	border: none;
	margin: 0px auto 15px auto;
	cursor: pointer;
}

#username {
	margin: 15px auto 25px auto;
}

#password {
	margin: 0px auto 25px auto;
}

#login_form {
	display: flex;
	flex-direction: column;
}

.paws_container {
	position: absolute;
	bottom: 14px;
	left: 12px;
}

.paws_container > img {
	width: 80px;
}

.copyright {
	color: #665a5a;
	position: absolute;
	top: 469px;
	font-size: 14px;
}

@media screen and (max-width: 390px) {
	.entire_container {
		width: 100%;
		padding: 0 16px;
	}
	.login_container {
		width: 100%;
		padding-bottom: 80px;
	}
	.paws_container {
		bottom: 6px;
		left: 0px;
	}
}
