body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	background: #f5a760;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	margin-top: 150px;
}

p {
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.entire_container {
	position: relative;
}

.biggest_bear_container {
	position: absolute;
	top: -136px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.login_container {
	width: 543px;
	padding-bottom: 60px;
	background: #ffffff;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	position: relative;
	margin: 50px auto;
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
}

.logo_container > img {
	width: 77px;
	height: 77px;
}

.brandname {
	font-weight: 700;
	font-size: 32px;
	color: #674115;
	padding: 27px 10px 27px 18px;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 15px;
}

#email,
#username,
#password {
	width: 428px;
	height: 64px;
	font-weight: 400;
	background: rgba(242, 119, 7, 0.28);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: 24px;
}

#submit_button {
	font-weight: 700;
	font-size: 30px;
	color: #674115;
	width: 285px;
	height: 64px;
	background: rgba(242, 119, 7, 0.75);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	border: none;
	margin: 0px auto 15px auto;
	cursor: pointer;
}

#username {
	margin: 27px auto 39px auto;
}

#password {
	margin: 0px auto 32px auto;
}

#login_form {
	display: flex;
	flex-direction: column;
}

.paws_container {
	position: absolute;
	bottom: 0;
	left: 0;
}

@media screen and (max-width: 575px) {
	.entire_container {
		width: 100%;
		padding: 0 16px;
	}

	.login_container {
		width: 100%;
		padding-bottom: 120px;
	}

	#email,
	#username,
	#password {
		width: 100%;
	}

	#login_form {
		padding: 0 16px;
	}
}
